
@{
    ViewBag.Title = "Index";
}


@*Need from db*@
<img class="avatar-img img-circle center-block" src="~/Images/Ava.jpeg" alt="" />


@*Need from db*@
<h2 class="full-name-txt page-header text-center">Vladyslav Parubchenko</h2>


@*<span class="text-info section-title">About me</span>*@

@*Need from db*@
<table class="table table-hover table-responsive table-bordered  table-striped">

    <tr>
        <td>Phone humber</td>
        <td>
            +380666352216 <br />
            +380631058700
        </td>
    </tr>

    <tr>
        <td>E-mail</td>
        <td>vladyslav.parubchenko@gmail.com</td>
    </tr>

    <tr>
        <td>Date of birth</td>
        <td>15.11.2000</td>
    </tr>

    <tr>
        <td>Languages</td>
        <td>
            Russian (native)      <br />
            Ukrainian (native)    <br />
            English (intermidate)
        </td>
    </tr>


</table>


<a href="#" name="Education_section"></a>
<span class="text-info section-title">Education</span>

@*test*@
<ul class="list-enum">
    <li>
        Mykolayiv Construction College of Construction and Architecture. <br />
        Specialty 121 «Software Engineering»
        <span class="badge badge-primary badge-pill badge-size study-cur">2016-2020</span>
    </li>
    <li>
        IT-STEP Academy. Software developer
        <span class="badge badge-primary badge-pill badge-size study-ended">2018-2021</span>
    </li>
</ul>


<a href="#" name="Skills_section"></a>
<span class="text-info section-title">Skills</span>

<ul class="list-enum">
    <li>
        First
    </li>
    <li>
        Second
    </li>
</ul>



<a href="#" name="Projects_section"></a>
<span class="text-info section-title">Projects</span>

<ul class="list-enum">
    <li>
        First
    </li>
    <li>
        Second
    </li>
</ul>